.supprimer {
    display: none; /* Hide pop-up by default */
    position: fixed; /* Position it relative to the browser window */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Semi-transparent background */
    z-index: 9999; /* Ensure it appears on top of other content */
}
.supprimer-content{
    background-color: #f3f3dc; /* White background for the pop-up */
    width: 100vh; /* Set maximum width */
    height: 30vh;
    margin: 20% auto; /* Center the pop-up vertically and horizontally */
    border-radius: 2vh;
    box-shadow: 0 0 1vh rgba(0,0,0,0.5); /* Add shadow effect */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.confirmation{
    position: relative;
    width: 40vh;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.confirmation #ok{
    border: none;
    border-radius: 2lvh;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Mulish', sans-serif;
    font-size: large;
    width: 18vh;
    background-color: #a7c42a;
    transition: all 0.3s ease;
}
.confirmation #ok:hover{
    background-color: #96af26;
}
.confirmation #annuler{
    border: none;
    border-radius: 2lvh;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Mulish', sans-serif;
    font-size: large;
    width: 18vh;
    background-color: #f14c4c;
    transition: all 0.3s ease;
}
.confirmation #annuler:hover{
    background-color: #d23636;
}