.supprimerok {
    display: none; /* cacher le pop-up par défaut */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    z-index: 9999; /* assurer qu’il se positionne en premier-plan */
}
.supprimerok-content{
    background-color: #f3f3dc; /* couleur de la boite de dialogue */
    width: 100vh;
    height: 30vh;
    margin: 20% auto; /* centrer la boite de dialogue */
    border-radius: 2vh;
    box-shadow: 0 0 1vh rgba(0,0,0,0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.supprimerok-content #logo{
    position: relative;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    margin-top: -15vh;
    box-shadow: 0 0.2vh 0.5vh rgba(0,0,0,0.2);
    
}
.supprimerok-content #ok{
    position: relative;
    border: none;
    width: 20vh;
    height: 5vh;
    border-radius: 1lvh;
    background-color: #a7c42a;
    color: #ffffff;
    font-family: 'Mulish', sans-serif;
    font-size: medium;
    cursor: pointer;
}
