.supprimerok {
    display: none; /* Hide pop-up by default */
    position: fixed; /* Position it relative to the browser window */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Semi-transparent background */
    z-index: 9999; /* Ensure it appears on top of other content */
}
.supprimerok-content{
    background-color: #f3f3dc; /* White background for the pop-up */
    width: 100vh; /* Set maximum width */
    height: 30vh;
    margin: 20% auto; /* Center the pop-up vertically and horizontally */
    border-radius: 2vh;
    box-shadow: 0 0 1vh rgba(0,0,0,0.5); /* Add shadow effect */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.supprimerok-content #logo{
    position: relative;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    margin-top: -15vh;
    box-shadow: 0 0.2vh 0.5vh rgba(0,0,0,0.2);
    
}
.supprimerok-content #ok{
    position: relative;
    border: none;
    width: 20vh;
    height: 5vh;
    border-radius: 1lvh;
    background-color: #a7c42a;
    color: #ffffff;
    font-family: 'Mulish', sans-serif;
    font-size: medium;
    cursor: pointer;
}
