body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color:rgb(243, 243, 187);
}
.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
main h1 {
  position: relative;
  top: 7vh;
  text-align:start;
  font-weight:bolder;
  padding-left: 2%;
}
main h1::after {
  content: "";
  width: 0%;
  height: 1vh;
  background: #98a94c;
  display: block;
  transition: 0.7s;
}
main h1:hover::after {
  width: 38%;

}
.infos-user {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 2vh;
    background-color: #899652;
    display: flex;
    flex-direction: row;
    height: 95vh;
    color: azure;
}
.infos-user:hover{
    filter: drop-shadow(0vh 0.2vh 0.5vh #797676);
}
.part1{
    width: 40%;
    text-align: center;
    padding-top: 10%;
}
.part1 h2 {
  padding-top: 3vh;
}
.img-user {
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  margin: 10%;
}
#photo {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
}
#file {
  display: none;
}
#btn-upload {
  position: absolute;
  height: 10vh;
  width:10vh;
  border-radius: 50%;
  cursor: pointer;
  color: #c2d373;
  transform: translateX(-200%);
  margin-top: 35vh;
  background-color: #c2d373;
}
#btn-upload img {
  width: 5vh;
  height: 5vh;
  margin-top: 23%;
}
#btn-upload:hover {
  background-color:#a5b463;
}
.part2 {
  width: 50%;
}
#form-conteneur {
  display: flex;
  flex-direction: column;
  margin: 5%;
  width:100%;
  height: 100%;
  row-gap: 5vh;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.box input{
  float: left;
  width: 100%;
  height: 7vh;
  border-radius: 2vh;
  text-align: center;
  border: none;
  background-color: #fefedb;
  outline: none;
}
.box label {
  width:60%;
  font-weight: bold;
}
.special-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.special-box label {
  width:60%;
}
.special-box input {
  width:100%;
}
.error-message {
  color: red;
  font-size: small;
  font-size: bold;
  position: relative;
  top : 1vh;
  height: 2vh;
}
.box button {
  float: right;
}
#editButton{
  width: 20vh;
  height: 6vh;
  background-color:#c2d373;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  left: 25vh;

}
#cancelButton {
  width: 30vh;
  height: 6vh;
  background-color:#c2d373;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#editButton:hover,
#cancelButton:hover {
  background-color:#a5b463;
}

.historique {
  height: 40vh;
}
#btns {
  display: flex;
  justify-content:flex-end;
  position: relative;
  right: 7vh;
  column-gap: 2vh;
}
#unsign-up, #disconnect {
  width: 20vh;
  height: 6vh;
  background-color:#c2d373;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
#unsign-up:hover,
#disconnect:hover {
  background-color:#a5b463;
}
.unsign-up-btn {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); 
  z-index: 9999; 
}
.unsign-up-content{
  background-color: #f3f3dc; 
  width: 100vh; 
  height: 30vh;
  margin: 20% auto; 
  border-radius: 2vh;
  box-shadow: 0 0 1vh rgba(0,0,0,0.5); 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.confirmation{
  position: relative;
  width: 40vh;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.confirmation #ok{
  border: none;
  border-radius: 2lvh;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Mulish', sans-serif;
  font-size: large;
  width: 18vh;
  background-color: #a7c42a;
  transition: all 0.3s ease;
}
.confirmation #ok:hover{
  background-color: #96af26;
}
.confirmation #annuler{
  border: none;
  border-radius: 2lvh;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Mulish', sans-serif;
  font-size: large;
  width: 18vh;
  background-color: #f14c4c;
  transition: all 0.3s ease;
}
.confirmation #annuler:hover{
  background-color: #d23636;
}

