@font-face {
    font-family: 'Mulish';
    src: url('Mulish-VariableFont_wght.ttf') format('truetype'); 
}
body {
    background-color:rgb(243, 243, 187);
    overscroll-behavior: none;
    touch-action: none;
}
.rando-space{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0vh 0.2vh 0.5vh #797676);
}
.rando{
    height: 60vh;
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 3%;
}
.presentation-rando{
    color:#fbffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
    height: 100%;
    font-weight: bold;
    padding-left: 2%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-evenly;
    border-radius: 2vh;
}
.info-rand{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.presentation-rando span{
    padding-top: 2%;
}
.info-res{
    margin-top: 7%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.info-res p{
    color: #fbffff;
    margin-top: 3%;
    font-size: large;
    font-weight: bold;
}
#scrollToDetails{
    cursor: pointer;
}
.button{
    height: 6vh;
    width: 20vh;
    background-color:#C2D373;
    border:none;    
    cursor: pointer;
    border-radius: 15px;
    font-size: large;
    font-weight: bold;
}
.button:hover{
    background-color: #a5b463;
}
#form-res{
    display: none;
    position: fixed;
    z-index: 9999;
    height: 72vh;
    width: 62vw;
    top: 9vh;
    left: 19vw;
}
.form{
    background: #899652;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 2vh;
}
/*contenue par defaut*/
.form-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: space-around;
    height: 40% ;
    width: 100%;
    margin-bottom: 4%;
}
.content-name, .content-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10% ;
    width: 100%;
}
.form-content input{
    height: 5vh;
    border:none;         
    border-radius: 2vh;
    background-color:#fefedb;
    padding-left: 2%;
    outline: none;
}
.form-content-name{
    margin-right: 2%;
}
.form-content label{
    color: white;
    margin-left: 2%;
}
.form-content-tel{
    margin-left: 2%;
}
.form-content-mail{
    margin-right: 3.5%;
}
/*plus de randonneurs?*/
.ajout{
    display: flex;
    flex-direction: column;
    height: 20% ;
    width: 100%;
    margin-left: 1%;
    margin-top: 1%;
}
.ajout span{
    color: white;
    font-size: medium;
}
.ajout label{
    color: white;
    margin-left: 2%;
}
input[type='radio'] {
    accent-color: #C2D373;
}
/*other randonneurs*/
.ajout-rando{
    display: flex;
    flex-direction: column;
    height: 35% ;
    width: 100%;
    margin-left: 1%;
}
.ajout-rando label{
    color: white;
    margin-left: 2%;
}
.ajout-rando input{
    height: 5vh;
    width: 30%;
    margin-top: 1.5%;
    border:none; 
    border-radius: 2vh;
    background-color:#fefedb;
    padding-left: 2%;
    outline: none;
}
/*bouton*/
.bouton{
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
}
.bouton button{
    height: 6vh;
    width: 20vh;
    background-color:#C2D373;
    border:none;    
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
}
.bouton button a{
    text-decoration: none;
    color: black;
}
.bouton button:hover{
      background-color: #a5b463;
}
.space{
    height: 2vh;
}
/*details rando*/
.plus-details{
    height: 80vh;
    width:90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    border-radius: 2%;
    background-color: #899652;
    color: #fbffff;
    filter: drop-shadow(0vh 0.2vh 0.5vh #797676);
}

.details{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.circuit{
    background-color: #000000;
    height: 50%;
    width: 35%;
    margin-right:3% ;
    margin-top: 2%;
    border-radius: 2%;
    display: flex;
}
.circuit img{
    height: 100%;
    width: 100%;
}
/*titre*/
h2 {
    text-align:start;
    font-weight:bolder;
    font-size: 1.3rem;
    padding-top: 2%;
    padding-left: 2%;
}
h2::after {
    content: "";
    width: 0%;
    height: 1vh;
    background: #c2d373;
    display: block;
    transition: 0.7s;
}
#txt:hover::after {
    width: 10.5%;
}

/*slide*/ 
.slider-conteneur {
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100%;
    justify-content: space-between;
    padding-top: 3%;

}
.slider-conteneur button {
    position: relative;
    top: 40%;
}
.slider {
    height: 50vh;
    display: flex;
    flex-direction: row;

}
#tns2-ow {
    width: 70%;
}
.box {
    height: 50vh;
    border-radius: 5%;
    text-align: center;
}
.slider div img {
    height: 50vh;
    width: 85%;
    border-radius: 2vh;
}
.slider img:hover {
    filter: drop-shadow(0vh 0.2vh 0.5vh #797676);
}

.box a:hover {
    color:#000000;
}
.previous, .next {
    width: 4vh;
    height: 4vh;
    border: none;
    border-radius: 50%;
    background-color: #c2d373;
    cursor: pointer;
}
.next img {
    width: 3vh;
    height: 3vh; 
    position: relative;
    top: 0.3vh;
    left: 0.2vh;
}
.previous img {
    width: 3vh;
    height: 3vh; 
    position: relative;
    top: 0.3vh;
    right: 0.2vh;
}
.tns-nav {
    text-align: center;
}
.tns-nav button {
    border: none;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    margin: 0.5vh;
    background-color: #c2d373;
}
.tns-nav .tns-nav-active {
    background-color: rgb(192, 186, 186);
}
/*avis*/

#txt1:hover::after {
    width: 16%;
}
.conteneur-avis{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0vh 0.2vh 0.5vh #797676);
}

.avis {
    height: 60vh;
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    background-color: #899652;
    color: #fbffff;
}
.form-avis{
    height: 65%;
    width: 80%;
}
.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	margin-bottom: 1rem;
}
.rating .star {
	cursor: pointer;
    font-size: 5vh;
    color: #C2D373;
}
.rating .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;/*animation pour les etoiles active*/
}
/*etapes de l'animation*/
@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.rating .star:hover {
	transform: scale(1.1);
}
textarea {
	width: 100%;
    height: 80%;
	border-radius: 2%;
	border: none;
	outline: none;
	resize: none;
    background-color:rgb(243, 243, 187);
}
.btn-group {
	display: flex;
    width: 100%;
    height: 20%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    justify-content: space-evenly;
}
.btn-group button {
    height: 6vh;
    width: 20vh;
    background-color:#C2D373;
    border:none;    
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
}
.btn-group button:hover {
	background-color: #a5b463;
}
